@import "../colors.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logos {
  background-color: $magenta;
  display: flex;
  width: 100vw;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  div {
    display: flex;
    height: 5vh;
    align-items: center;
  }
  img {
    height: 4vh;
    width: auto;
    margin: 0 20px;
  }

  #claim {
    height: 2vh;
  }
}

#main-content {
  height: 95vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column;

  #title {
    color: #fff;
    line-height: 4vh;
    font-size: 4vh;
    margin: 4vh;
  }

  .message {
    margin-top: 2vh;
    color: #fff;
    line-height: 3vh;
    font-size: 3vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: 700;

    svg {
      width: 3vw;
      fill: #fff;
    }
  }
}

#debug {
  position: fixed;
  bottom: 0px;
}

.box-container {
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1;

  .face-box {
    border: red 1px solid;
    position: relative;
  }
}

.overlay-container {
  position: relative;
}

#noConnection {
  position: fixed;
  color: red;
  background: white;
  padding: 3px;
  top: 50%;
  z-index: 10;
  font-size: 3vh;
}
